
body {
    background-color: #8a71c9;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;
    margin: 0px 0px 30px 0px; 
}

h1 {
    font-weight: 300px;
    font-size: 59px;
    font-weight: normal;
}

.principal {
    width: 60%;
    margin: 0 auto;
}

.principal ul {
    background-color:#FF6CB5;
}

.principal li {
    display: inline-block;   
    padding: 10px 90px 10px;
}

.principal a {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
}

section {
    width: 60vw;
    margin: 0 auto;
}

h2 {
    color:#2a0074;
    font-size: 40px;
}

p {
    line-height: 1.5;
    font-size: 20px;
}

img {
    width: 100%;
}

#infancia {
    color: #04ff9f;
    font-style: italic;
}

#juventude {
    color: #FF9E9E;
    font-style: italic;
}

#vida-adulta {
    color: #ffe36d;
    font-style: italic;
}

h3 {
    font-size: 22px;
    font-style: italic;
}


li {
    list-style-type: none;
}

a {
    color: #99ffff;
    text-decoration: none;
    font-weight: bold;
    line-height: 2;
}

div {
    display: inline-block;
}

button {
    padding: 3px 20px;
    border: 0px solid transparent;
    border-radius: 3px;
}